---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

import GlobalStyle from '@styles/GlobalStyle.astro';
import { ViewTransitions } from 'astro:transitions';

import { Cover, Center } from '@cc/index.js';

type Props = {
  pageTitle: string;
  description?: string;
  image?: string;
  surfaceClass?: 'surface-1' | 'surface-2' | 'surface-3' | 'surface-4';
};

// const isProd = import.meta.env.PROD
// const isDev = import.meta.env.DEV

const {
  pageTitle,
  description = 'my description',
  image = '/placeholder-social.jpg',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html transition:animate="none">
  <head>
    <BaseHead title={pageTitle} description={description} image={image} />
    <link rel="canonical" href={canonicalURL} />

    <GlobalStyle />
    <ViewTransitions />
    <script
      is:inline
      src="https://kit.fontawesome.com/fe2049e447.js"
      crossorigin="anonymous"></script>
    <!-- <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={`${Astro.site}rss.xml`}
    /> -->
  </head>

  <body color-scheme="light">
    <Cover centeredElement="center-l">
      <Header />

      <Center><slot /></Center>

      <Footer />
    </Cover>
    <style>
      body {
        color: var(--text-1);
        background-color: var(--surface-4);
      }
    </style>
  </body>
</html>
