---
import { format } from 'date-fns';
import { getEntry } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';

import { Box } from '@cc/index.js';
import TagContainer from '@components/TagContainer.astro';

interface Props {
  description: string;
  title: string;
  children: HTMLElement[];
  authorId: string;
  pubDate: Date;
  tags: string[];
}

const props = Astro.props;

const { title, description, authorId, pubDate, tags } = props;

// const { title, description, pubDate, author } = entry.data

const authorDataObj = await getEntry('authors', authorId);
---

<!-- TODO: fix the date format -->
<BaseLayout pageTitle={title} description={description}>
  <Box>
    <Box><h2>{description}</h2></Box>
    <Box> <slot name="banner" /></Box>

    {
      authorDataObj?.data.name && (
        <Box>
          <p>
            Written by: {authorDataObj.data.name},{' '}
            {format(pubDate, 'd MMM, yyyy')}
          </p>
        </Box>
      )
    }
  </Box>
  <TagContainer tags={tags} />
  <slot name="main" />
</BaseLayout>
